.serviceCards {
    padding: 0;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 600px;
    background-color: rgba(128, 101, 223, 0.856) !important;

}

.card-img-top {
    border-radius: 50%;
}

.serviceCards .card-img-top {
    transition: 0.5s;
    ;

}

.serviceCards .card-img-top:hover {
    width: 220px;


}