.blogs {
    min-height: 100vh;
    background-color: rgb(226, 226, 226);
}

.greetings {
    color: rgb(0, 41, 130);

}

.name {
    color: orange;
    font-weight: 500;
}

.aboutme-img {
    border-radius: 50%;
    margin: 20px;
    padding: 10px;
    transition: .5s;
}

.aboutme-img:hover {
    padding: 0px;
}